<h1>Customize your ID bracelet</h1>

<h2>Preview</h2>

<div class="bracelet-preview">
  <% @lines.each do |lines| %>
    <div style='font-size:<%= lines.font_size %>pt'>
      <%= lines.text %>
    </div>
  <% end %>
</div>

<ul>
  <% @lines.each do |lines| %>
    <li>
      <a href="/lines/<%= lines.id %>">
        Customize lines <%= lines.id %>
      </a>
    </li>
  <% end %>
</ul>
