<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<br>

<div class="alert alert-danger">
	<b>This box has a non-functioning X button to close it.</b>
</div>

<table class="table table-hover">
  <tr>
    <td><b>A</b></td> 
    <td><b>B</b><td>
  </tr>
  <tr>
  	<td>A1</td>
  	<td>B1</td>
  </tr>
  <tr>
  	<td class="warning">A2</td>
  	<td class="warning">B2</td>
  </tr>
</table>

<br>

<button type="button" class="btn btn-success">
  <a href="http://www.google.com"><b>Green Button</b></a>  
</button>

<button type="button" class="btn btn-default">
  <a href="http://www.google.com"><b>Link to google.com</b></a>
</button>

<br>
<br>

<div class="row">
  <div class="col-md-6">This column is on the left half of the page.</div>
  <div class="col-md-6">This column is on the right half of the page.</div>
</div>

<br>

<span class="glyphicon glyphicon-fast-backward"></span> Rewind symbol

<br>

<span class="glyphicon glyphicon-fast-forward"></span> Fast-forward symbol