<h1>
  <strong>UFO sightings</strong>
</h1>

<% UfoSighting.order(:id).each do |sighting| %>
  <p>
    <a href="/<%= sighting.id %>">
      <b><%= sighting.when_seen %> in <%= sighting.location %></b>
    </a>
  </p>
<% end %>