<h1><b>Example contact form</b></h1>
<p>
	<label><b>From</b></label><br>
	<input size="65">
</p> 
<p>
	<label><b>Subject</b></label><br>
	<input size="65">
</p>
<p>
	<label><b>Body</b></label><br>
	<textarea rows="10" cols="65"></textarea>
</p>
<p>
	<button>Send</button>
</p>