<h1><b>Example login screen</b></h1>

<table border="1">
	<tr>
      <th><label><b>Email address</b></label></th>
      <th><input size="26"></th>
    </tr>  
    <tr>
      <th><label><b>Password</b></label></th>
      <th><input size="26"></th>
    </tr>  
    <tr>  
      <td></td>
      <td><button>Login</button></td>
    </tr>
</table>