<h1><b>Example of nested lists</b></h1>

<ul><li>fruits</li>

<ul><li>apples</li>
<li>oranges</li>
<li>pears</li></ul></ul>

<ul><li>vegetables</li>
<ul><li>broccoli</li>
<li>peas</li>
<li>carrots</li></ul></ul>
<!-- TODO -->
