<h1><b>Example login screen</b></h1>

<table border="1">
  <tr>
    <th><label><b>Email address</b></label></th>
    <td><input size="25"></td>
  </tr>
  <tr> 
    <th><label><b>Password</b></label></th>
    <td><input size="25"></td>
  </tr>
  <tr>
    <th></th>
    <td><button><b>Login</b></button></td>
  <tr> 
</table>