
<p class="inverse">
  White text on a black background
</p>
<p class="indented">
  Text with a thick border and some padding around it
</p>
<p class="small-right">
  Small text in a narrow box that's indented
</p>
<p class="thin-border">
  Text with a thin border and lots of room around it
</p>
<p class="centered-box">
  Text in a box that's centered
</p>
<p class="Blue-Hue">
  Text with a blue glow around it and its box
</p>
