<nav class="navbar navbar-inverse" role="navigation">
  <div class="row">
	  <div class="col-md-8 col-md-push-4">
	    <form class="form-inline" role="form">
	    <div class="form-group">
  	      <p>
  	      </p>	
  	      <p>
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
          </p>
        </div>
        <div class="form-group">
          <p>
          </p>	
  	      <p>
            <label class="sr-only" for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </p>
        </div>
          <button type="submit" class="btn btn-default">
          	<strong>Login</strong>
          </button>
        </form>
      </div>
      <div class="col-md-4 col-md-pull-8">
      	<p>
      	</p>
      	<p class="text-muted">  
      	  Cat Impsum
      	</p>
      </div>
  </div>
</nav>

<div class="jumbotron">
	<div class="row">
		<div class="col-md-6">
  			<h1><strong>Cat ipsum</strong></h1>
  			  <p>
  			  	Tabby siamese grimalkin persian, or havana brown yet savannah sphynx. Manx. Thai tiger and ocelot, balinese.
  			  </p>
  			  <p>
  				<a class="btn btn-primary btn-lg" role="button">Sign Up</a>
  			  </p>
  		</div>
  		<div class="col-me-6">
  			<img src='http://placekitten.com/g/287/320' width='287' height='320'>
		</div>
	</div>
</div>

<table class="table table-condensed">
  <div class="row">
    <div class="col-xs-6 col-md-4">
  	  <p class="text-muted">
  	  	<b>Turkish angora munchkin but munchkin american bobtail cornish rex.</b> 
  	  </p>
  	  <p class="text-muted">	
  		- american bobtail
	  </p>
    </div>
    <div class="col-xs-6 col-md-4">
  	  <p class="text-muted">
  	  	<b>Cheetah siberian for devonshire rex malkin but tiger. Cornish rex puma, leopard yet singapura mouser siamese russian blue.</b>
  	  </p>
  	  <p class="text-muted">
  	  	- persian tabby
	  </p>
    </div>
    <div class="col-xs-6 col-md-4">
  	  <p class="text-muted">
  	  	<b>American shorthair scottish fold american shorthair persian tabby. Siamese tiger scottish fold.</b>
  	  </p>
  	  <p class="text-muted">
  	  	- cornish rex
  	  </p>
    </div>
</div>
</table>