<h1><strong>Contact Us:</strong></h1>

<h2>
  <b>Subject</b>
</h2>
<p>	
  <%= 
    text_field_tag "subject", "", placeholder: "Request for information", size: 35 %>
</p>

<h2>
  <b>Body</b>
</h2>
<p>	
  <%= 
    text_area_tag "body", "", placeholder: "Please add me to your mailing list", rows: 4, cols: 35 %>
</p>

<br>

<%= submit_tag "Send Message" %>


<hr>
<h3>Messages so far:</h3>
<ul>
  <% Message.order(:id).each do |message| %>
    <li><%= message.subject %></li>
  <% end %>
</ul>