<h1><b>World cities</b></h1>

<table class="table">
	  <tr>
        <th>City Name</th>
        <th>Country Flag</th>
        <th>Time Zone</th>
        <th>Population</th>
	  </tr>
	<% WorldCity.order(:id).each do |c| %>
	  <tr>
        <td><%= c.city %></td>
        <td><img src=<%= c.flag %>></td>
        <td><%= c.time_zone %></td>
        <td><%= c.pop %></td>
	  </tr>
	<% end %>
</table>