<h1><b>cd</b></h1>

<p>The cd command changes the current working directory.</p>
<p>cd .. goes up one level.</p>

<p><i><b>"cd"</b></i> is an abbreviation of <b><i>"Change Directory."</b></i></p>

<p>This is a brand new paragraph demonstrating, once again, the usefulness and prudence in saving what it is that you're updating!</p>