<h1>Book Details</h1>

<br>

<p>
  <h3><b>Title:</b></h3>
  <%= @books.title %>
</p>

<p>
  <h3><b>Author:</b></h3>
  <%= @books.author %>
</p>

<p>
  <h3><b>ISBN:</b></h3>
  <%= @books.isbn %>
</p>

<p>
  <h3><b>Publication Year:</b></h3>
  <%= @books.isbn %>
</p>