<% @cars.each do |car| %>

  <% if car.member == nil %>

    <h2>
      No one has the <%= car.model %>.
    </h2>

  <% else %>
    
    <h2>
    <%= car.member.name %> has the <%= car.model %>.
    </h2>
  
  <%end %>

<% end %>
